<h1>Extensions Tutorial</h1>
<div class="well">
    A little background on extensions before you get started, developed by The Axis Group.
    These are part of <a href="https://www.qlik.com/us/products/qlik-sense">Qlik Sense</a>.
    So if you’re interested, you can find open source extension projects on <a href="http://branch.qlik.com/#!/project">Qlik Branch</a>.
    If you have any question, be sure to <a href="http://branch.qlik.com/slack">join our Slack community</a>.
</div>
<iframe [src]="iframesrc"></iframe>