/node_modules/**/*
!node_modules/@angular/router/
!node_modules/@angular/router/*
config.js
*.pem
/iisnode
web.config
/server/configs/oauth-info.js
/server/configs/general.js
public/resources/airbnb-logo.png
Assure/