@qlik:registry=https://qliktech.artifactoryonline.com/qliktech/api/npm/npm-local/
//qliktech.artifactoryonline.com/qliktech/api/npm/npm-local/:_password=QUtDcDJVTkNvbXVwb05jYU1Yc280cDFreWdyNVMzTkVNRzFmTnUxQjQycndVVjREVkVLZHpMRlMzcWVhOHpFeFpkZHFSeGczMw==
//qliktech.artifactoryonline.com/qliktech/api/npm/npm-local/:username=nwr
//qliktech.artifactoryonline.com/qliktech/api/npm/npm-local/:email=nwr@qlik.com
//qliktech.artifactoryonline.com/qliktech/api/npm/npm-local/:always-auth=true
