<div class="footer">
  <div class="footer-main row">
    <div class="col-md-3">
      <div class="brand">
      </div>
    </div>
    <div class="col-md-3">
      <playground-footer-list [data]="sitesone"></playground-footer-list>
    </div>
    <div class="col-md-3">
      <playground-footer-list [data]="sitestwo"></playground-footer-list>
    </div>
    <div class="col-md-3">
      <playground-footer-list [data]="sitesthree"></playground-footer-list>
    </div>
    <div class="col-md-12 vertical-spacer-small">

    </div>
    <div class="col-md-12">
      <span>Powered by Qlik Associative Engine</span>
      <br>
      <span>&copy; 1993-2017 Qliktech International Inc. | <a [routerLink]="['/terms']">Terms &amp; Conditions</a></span>
    </div>
  </div>
</div>
