<div class="header">
  <ul role="nav" class="navmenu">
    <li class="home">
      <a [routerLink]="['/home']"><span class="lui-icon lui-icon--home"></span></a>
    </li>
    <li>
      <a [routerLink]="['/noobs']">Qlik For Noobs</a>
    </li>
    <li>
      <a [routerLink]="['/projectsdashboard']">Projects Dashboard</a>
    </li>
    <li>
      <a [routerLink]="['/showcase']">Showcase</a>
    </li>
  </ul>
  <div class="loginmenu">
    <button class="lui-button  lui-button--inverse"><span class="inline-block lui-button__text">Qlik</span><span class="lui-button__caret  lui-caret"></span></button>
    <div class="horizontal-spacer horizontal-spacer-medium"></div>
    <button *ngIf="!user" class="inline-block lui-button lui-button--warning"><a href="/auth/github">Login</a></button>
    <button *ngIf="user" class="inline-block lui-button lui-button--warning"><a href="/auth/github">{{user.displayName}}</a></button>
    <div class="horizontal-spacer horizontal-spacer-medium"></div>
  </div>
</div>
