<div class="playground-header">
  <ul role="nav" class="navmenu">
    <li class="home">
      <a [routerLink]="['/home']" routerLinkActive="active"><span class="lui-icon lui-icon--home"></span></a>
    </li>
    <li>
      <a [routerLink]="['/noobs']" routerLinkActive="active">Qlik For Noobs</a>
    </li>
    <li>
      <a [routerLink]="['/apis']" routerLinkActive="active">API</a>
    </li>
    <li>
      <a [routerLink]="['/myplayground']" routerLinkActive="active">My Playground</a>
    </li>
    <li>
      <a [routerLink]="['/showcase']" routerLinkActive="active">Showcase</a>
    </li>
  </ul>
  <div class="loginmenu">
    <ul class="navbar-right">
      <li class="dropdown">
        <button data-toggle="dropdown" role="button" class="lui-button  lui-button--inverse"><span class="inline-block lui-button__text">Qlik</span><span class="lui-button__caret  lui-caret"></span></button>
        <ul role="menu" class="dropdown-menu lui-dialog--inverse">
          <li><a href="http://www.qlik.com" target="_window">Qlik.com</a></li>
          <li><a href="https://qlikcloud.com" target="_window">Qlik Cloud</a></li>
          <li><a href="http://market.qlik.com" target="_window">Qlik Market</a></li>
          <li><a href="http://community.qlik.com" target="_window">Qlik Community</a></li>
        </ul>
      </li>
      <div class="horizontal-spacer horizontal-spacer-medium"></div>
      <li *ngIf="!user" class="inline-block lui-button lui-button--warning"><a href="{{loginUrl}}?url={{returnUrl}}">Login</a></li>
      <li *ngIf="user" class="dropdown">
        <button data-toggle="dropdown" role="button" *ngIf="user" class="inline-block lui-button lui-button--warning">{{user.username}}</button>
        <ul role="menu" class="dropdown-menu lui-dialog--inverse">
          <li><a href="/auth/logout">Logout</a></li>
        </ul>
      </li>
      <div class="horizontal-spacer horizontal-spacer-medium"></div>
    </ul>
    <!-- <button class="lui-button  lui-button--inverse"><span class="inline-block lui-button__text">Qlik</span><span class="lui-button__caret  lui-caret"></span></button>
    <div class="horizontal-spacer horizontal-spacer-medium"></div>
    <button *ngIf="!user" class="inline-block lui-button lui-button--warning"><a href="{{loginUrl}}?url={{returnUrl}}">Login</a></button>
    <button *ngIf="user" class="inline-block lui-button lui-button--warning">{{user.username}}</button>
    <div class="horizontal-spacer horizontal-spacer-medium"></div> -->
  </div>
</div>
