<div class="body-bg">
  <div class="row">
    <div class="container bspot">
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-8">
        <div class="bspot-header homepage-welcome">
          <span class="bspot-title">Welcome to Qlik Playground &trade;</span>
        </div>
        <p><br />
          Qlik Playground is a free programming environment that allows you to use, explore, and quickly test your most complex and innovative data driven application ideas using Qlik technology. 

Built for developers by developers, Playground gives you one-of-a-kind access to Qlik’s Engine and APIs. As a no cost, low commitment way to make your data work for you, Playground gives you the tools to learn from others in the environment, and find out how Qlik’s Engine and APIs allow you time to spend on the coding you enjoy doing.
        </p>
      </div>
      <div class="col-md-2">

      </div>
    </div>
  </div>
    <div class="col-md-12 hero-spot-image">
        <div class="container hero-spot">
          <div class="row">
            
            <div class="col-md-6 orange">
              <div class="button-card">
                <img src="/resources/bulb.png" alt="" />
                <div class="card-title">
                  Learn
                </div>
                <p class="card-text">
                  New to Qlik technologies?  No problem. Start here for introductions to our QIX engine and APIs that deliver a simple path to data driven development. Then, hit the deep dives of our APIs to give you all the tools so you can get playing!
                </p>
                <div class="line-button-container">
                  <a [routerLink]="['/learn']" class="playground-button playground-button--orange " type="button" name="button">Noobs start here</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 yellow">
              <div class="button-card">
                <img src="/resources/Showcase-Gears.png" alt="" />
                <div class="card-title">
                  Showcase
                </div>
                <p class="card-text">
                  Find inspiration for application ideas with existing open source projects—such as tracking your adult beverage preference or navigating your hotel options within large cities. Find the code, make it your own, then become part of the showcase too!
                </p>
                <div class="line-button-container">
                  <a [routerLink]="['/showcase']" class="playground-button playground-button--yellow " type="button" name="button">View Showcase</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="container bspot">
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-8">
        <div class="bspot-header">
          <img src="/resources/Beaker.png" alt="" />
          <span class="bspot-title">Try It Out</span>
        </div>
        <p><br />
          Want to start using Qlik Playground and working with the Qlik API's?<br />
          Jump right in. It’s time to build your apps—get to it!
        </p>
        <a [routerLink]="['/myplayground']" class="playground-button playground-button--green " type="button" name="button">Start playing</a>
      </div>
      <div class="col-md-2">

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="cspot">

      </div>
    </div>
  </div>
</div>
