<div class="">
  <div class="row">
    <div class="col-md-12">
      <div class="hero-spot-image">
        <div class="hero-spot">
          <div class="hero-spot-text">
            <h1>Learn, create and share with the Qlik API's</h1>
            <p>It's more than just charts and dashboards</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row home-steps title-block">
    <div class="col-md-4">
      <div class="home-step" data-step="1">
        <p>
          Learn what the Qlik Platform can do for you.
        </p>
        <button class="lui-button  lui-button--toolbar-inverse" type="button" name="button">Learn</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="home-step" data-step="2">
        <p>
          Connect to your data and start building solutions.
        </p>
        <button class="lui-button  lui-button--toolbar-inverse" type="button" name="button">Create</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="home-step" data-step="3">
        <p>
          Showcase your projects for the world to see.
        </p>
        <button class="lui-button  lui-button--toolbar-inverse" type="button" name="button">Share</button>
      </div>
    </div>
  </div>
</div>
