script(src="/node_modules/core-js/client/shim.min.js")    
//- script(src="https://npmcdn.com/reflect-metadata@0.1.3")
script(src="/node_modules/rxjs/bundles/Rx.umd.js")
script(src="/node_modules/zone.js/dist/zone.js")
script(src="/node_modules/@angular/core/core.umd.js")
script(src="/node_modules/@angular/http/http.umd.js")
script(src="/node_modules/@angular/common/common.umd.js")
script(src="/node_modules/@angular/compiler/compiler.umd.js")
script(src="/node_modules/@angular/platform-browser/platform-browser.umd.js")
script(src="/node_modules/@angular/platform-browser-dynamic/platform-browser-dynamic.umd.js")
script(src="/node_modules/@angular/router/router.umd.js")
script(src="/node_modules/@angular/router-deprecated/router-deprecated.umd.js")
script(src="/node_modules/jquery/dist/jquery.min.js")
script(src="/qlik/leonardo-ui.min.js")
script(src="/js/playground.js")
