html
  head
    link(rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css")    
    link(rel="stylesheet" href="/qlik/leonardo-ui.min.css")    
    link(rel="stylesheet" href="/node_modules/highlightjs/styles/github.css")  
    link(rel="stylesheet" href="/css/playground.css")    
    link(rel='apple-touch-icon', sizes='57x57', href='/resources/favicons/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/resources/favicons/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/resources/favicons/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/resources/favicons/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/resources/favicons/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/resources/favicons/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/resources/favicons/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/resources/favicons/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/resources/favicons/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/resources/favicons/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/resources/favicons/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/resources/favicons/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/resources/favicons/favicon-16x16.png')
    link(rel='manifest', href='/resources/favicons/manifest.json')  
    title Qlik Playground
    meta(name="google-site-verification" content="0EsifDLmyG6vJal_YJyzkRR-8r5KbtiyKDk9Hj6naY4")
    meta(name="description" content="Qlik Playground is a free programming environment that allows you to use, explore, and quickly test your innovative data driven application ideas using Qlik technology.")
    meta(name="keywords" content="Qlik Playground, Qlik Branch, Qlik APIs, API, Data, Analytics, Javascript, Visualization")
    base(href="/") 
    
    //GA tracking
    script.
        (function(i,s,o,g,r,a,m){
            i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)
            },i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');            
  body
    noscript
      iframe(src="//www.googletagmanager.com/ns.html?id=GTM-KFB8QV3" height="0" width="0" style="display:none;visibility:hidden")
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-KFB8QV3');
    
        
