@default-text: @greyscale-35;
@header-grey: @greyscale-25;
@sub-header-grey: @greyscale-35;
@body-grey: @greyscale-28;
@smoke: rgba(71,71,71,0.9); //71 matches the definition for @greyscale-28
@smokey: rgba(71,71,71,0.6); //71 matches the definition for @greyscale-28
@fog: rgba(217,217,217,0.7); //217 matches the definition for @greyscale-85
@footer-grey: @greyscale-15;
@white: @greyscale-100;
@grey: @greyscale-40;
@highlight-grey: #606060;
@light-grey: @greyscale-90;

// light-theme
// @header: white;
// @header-text: @default-text;
// @header-border: #DEDEE0;
// @sub-header: @greyscale-85;
// @footer: @green;
// @highlight: #606060;
// @body-text: @default-text;
@body: white;
// @mist: rgba(255,255,255,0.8);
// @active-tab: #DEDEE0;
// @menu-border: #DEDEE0;
// @card-border: #DEDEE0;
// @title-block-border: #DEDEE0;

//dark-theme
@header: @greyscale-25;
@header-text: white;
@header-border: @greyscale-25;
@sub-header: @greyscale-85;
@footer: @greyscale-15;
@highlight: #606060;
@body-text: @default-text;
// @body: @greyscale-28;
@mist: transparent;
@active-tab: #DEDEE0;
@menu-border: #DEDEE0;
@card-border: #DEDEE0;
@title-block-border: #DEDEE0;

@light-green: @green-lighten-15;

.orange{
  color: @orange;
}

.orange-bg{
  background-color: @orange;
}

.orange-glow-bg{
  background: rgba(250,183,97,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(250,183,97,1) 0%, rgba(248,152,29,1) 76%, rgba(211,129,25,1) 94%, rgba(211,129,25,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(250,183,97,1)), color-stop(76%, rgba(248,152,29,1)), color-stop(94%, rgba(211,129,25,1)), color-stop(100%, rgba(211,129,25,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(250,183,97,1) 0%, rgba(248,152,29,1) 76%, rgba(211,129,25,1) 94%, rgba(211,129,25,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(250,183,97,1) 0%, rgba(248,152,29,1) 76%, rgba(211,129,25,1) 94%, rgba(211,129,25,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(250,183,97,1) 0%, rgba(248,152,29,1) 76%, rgba(211,129,25,1) 94%, rgba(211,129,25,1) 100%);
  background: radial-gradient(ellipse at center, rgba(250,183,97,1) 0%, rgba(248,152,29,1) 76%, rgba(211,129,25,1) 94%, rgba(211,129,25,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fab761', endColorstr='#d38119', GradientType=1 );
}

.default-text{
  color: @default-text;
}

.blue{
  color: @blue;
}

.blue-bg{
  background-color: @blue;
}

.grey{
  color: @grey;
}

.grey-bg{
  background-color: @grey;
}

.green{
  color: @green;
}

.green-bg{
  background-color: @green;
}

.body{
  color: @body;
}

.body-bg{
  background-color: @body;
}

.fog{
  color: @fog;
}

.fog-bg{
  background-color: @fog;
}

.white{
  color: @white;
}

.white-bg{
  background-color: @white;
}

.outer-glow{
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
}

.red{
  color: @red;
}

.red-bg{
  background-color: @red;
}

.orange{
  color: @orange;
}

.orange-bg{
  background-color: @orange;
}

.yellow{
  color: @yellow;
}

.yellow-bg{
  background-color: @yellow;
}
