
.footer-main{
  padding: 15px;
  font-size: 11px;
  background-color: @footer;
  box-sizing: border-box;
  color: white;
  .footer-logo{
    background: url('/resources/playground-logo-small.png') left top no-repeat;
    height: 20px;
    background-size: contain;
    margin-bottom: 20px;
  }
  .footer-list{
    ul{
      margin: 0;
      padding: 0;
      list-style-type: none;
      li{
        height: 15px;
        line-height: 15px;
        a, a:visited, a:hover, a:active{
          color: white;
        }
      }
    }
    .footer-list-header{
      display: block;
      height: 20px;
      line-height: 20px;
      font-size: 13px;
      font-weight: bold;
    }
  }
  .footer-block-container{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: table-row;
    .footer-block{
      display: table-cell;
      vertical-align: top;
      width: 25%;
      box-sizing: border-box;
      padding: 0 20px;
      &:first-of-type{
        padding-left: 0;
      }
      &:last-of-type{
        padding-right: 0;
      }
    }
  }
}
