.getting-started{
    .options-cards{
      height: 300px;
    }
    .example-apps-card-container{
      height: 200px;
      .card{
        cursor: pointer;
        &:hover{
          color: white;
        }
      }
    }
    .example-app-detail{

    }
    .sample-project-list{
      li{        
        margin-bottom: 5px;
        min-width: 200px;
        width: 50%;
      }
    }
}
