.getting-started{
    .options-cards{
      height: 300px;
    }
    .example-apps-card-container{
      height: 200px;
      .card{
        cursor: pointer;
        &:hover{
          color: white;
        }
      }
    }
}
