.playground-header{
  position: relative;
  height: 100px;
  background: url('/resources/playground-logo-small.png') 20px center no-repeat;
  background-size: 216px 32px;
  background-color: @header-grey;

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    li{
      display: inline-block;
    }
    a{
      color: inherit;
      text-decoration: none;
    }
  }

  .dropdown-menu{
      right: 0;
      left: initial;
      color: @default-text;
      li{
        width: 100%;
      }
  }

  .navmenu{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 36px;
    line-height: 40px;
    font-size: 13px;
    color: white;
    font-weight: bold;
    li{
      text-align: center;
      min-width: 50px;
      margin-right: 20px;
      a{
        display: block;
        height: ~"calc(100% - 3px)";
      }
      a.active{
        border-bottom: 2px @orange solid;
      }
    }
  }

  .loginmenu{
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    margin-top: 15px;
    line-height: 50px;
    li{
      position: relative;
      a{
        display: block;
        height: 100%;
        width: 100%;
      }
    }
  }

}
