.qlik-circles{
  background-image: url(/resources/herospotleft.png), url(/resources/herospotright.png);
  background-position: top left, top right;
  background-repeat: no-repeat;
  background-size: 200px;
}
.hero-spot-image{
  position: relative;  

  .hero-spot{
    margin-top: 50px;
    margin-bottom: 50px;
    .button-card{
      color: inherit;
      border: 2px solid;
      .card-title{
        color: inherit;
      }
      .card-text{
        margin-bottom: 20px;
        color: @default-text;
      }
    }
  }
}

.bspot{
  text-align: center;
  height: 60px;
  z-index: 100;
  .homepage-welcome{
      padding-top:40px;
  }
  .bspot-header{
      height: 60px;
      img{
        height: 100%;
      }
  }
  .bspot-title{
    font-size: 30px;
    font-weight: bold;
    vertical-align: bottom;
    color: @green;
  }
  .button-card{
    color: inherit;
    .card-text{
      margin-bottom: 20px;
    }
  }
  p{
  }
}

.cspot{
  background-image: url(/resources/home-image.png);
  background-size: cover;
  height: 500px;
}
