@import "./fonts.less";
@import "../../../node_modules/@qlik/leonardo-ui/dist/colors.less";
@import "./colours.less";

body{
  -webkit-font-smoothing: antialiased;
  font-family: proxima-nova, arial, sans-serif;
  color: @body-text;
  margin: 0;
  overflow-x: hidden;
}


@import "./header.less";
@import "./footer.less";


h1{
  font-size: 32px;
  font-weight: normal;
}
h2{
  font-size: 26px;
  font-weight: normal;
}
h3{
  color: @orange;
}

pre, code{
  .hljs{
    background-color: transparent;
  }
  .hljs-string, .hljs-literal{
    color: @orange;
  }
}

button{
  a{
    display: block;
    color: inherit;
    text-decoration: none;
  }
}

.brand{
  background-image: url(/resources/playground-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 60px;
  width: 210px;
  line-height: 60px;
  position: relative;
  a{
    display: inline-block;
    height: 100%;
    width: 100%;
  }
  a, a:hover, a:active, a:visited{
    color: transparent;
  }
}

.horizontal-spacer{
  display: inline-block;
  &.horizontal-spacer-small{
    width: 10px;
  }
  &.horizontal-spacer-medium{
    width: 20px;
  }
  &.horizontal-spacer-large{
    width: 50px;
  }
}

.vertical-spacer-small{
  height: 10px;
}
.vertical-spacer-medium{
  height: 20px;
}
.vertical-spacer-large{
  height: 50px;
}

.relative{
  position: relative;
}

.inline-block{
  display: inline-block;
}

.left{
  text-align: left;
}
.right{
  text-align: right;
}
.center{
  text-align: center;
}

.content{
  min-height: ~"calc(100% - 160px)";
  padding: 0 15px;
  box-sizing: border-box;
}

.page-detail{
  padding-top: 10px;
  padding-bottom: 10px;
  color: @default-text;
}

.plainlist{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card{
  display: block;
  height: 350px;
  width: 100%;
  padding: 20px;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
  .card-icon{
    width: 100%;
    margin-top: 75px;
    span{
      display: block;
      &::before{
        display: block;
        text-align: center;
        font-size: 80px;
      }
    }
  }
  .card-title{
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: @default-text;
  }
  .card-text{
    text-align: left;
    padding: 10px 15px;
  }
  .card-link-container{
    padding: 5px 0;
  }
  .card-link{
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    border-radius: 15px;
    border: 1px solid @white;
    height: 30px;
    line-height: 30px;
    color: @white;
    padding: 0 20px;
  }
}

.button-card{
  display: block;
  border: 2px solid @card-border;
  background-color: white;
  padding: 20px;
  margin-bottom: 30px;
  height: 350px;
  img{
    height: 150px;
    margin: 0 auto;
    display: block;
  }
  .card-title{
    color: @orange;
    font-weight: bold;
    font-size: 22px;
  }
  .card-text{
    color: @default-text;
  }
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
  .card-icon{
    width: 100%;
    span{
      display: block;
      &::before{
        display: block;
        text-align: center;
        font-size: 80px;
      }
    }
  }
  .line-button-container{
    position: absolute;
    bottom: 17px;
    text-align: center;
    width: 100%;
    left: 0;
  }
}
.title-block{
  background-color: @body;
  background-image: url(/resources/section-header.png);
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
  color: @default-text;
  border-bottom: 2px solid @title-block-border;
}


.section-header{
  height: 150px;
  width: 150px;
  border-radius: 75px;
  background-color: white;
  text-align: center;
  margin: 0 68px;
  position: relative;
  display: inline-block;
  -webkit-box-shadow: 4px 4px 11px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    4px 4px 11px 0px rgba(50, 50, 50, 0.75);
box-shadow:         4px 4px 11px 0px rgba(50, 50, 50, 0.75);
  h1{
    font-size: 22px;
    position: absolute;
    width: 120px;
    left: ~"calc(50% - 60px)";
    .sub-h1{
      font-size: 12px;
    }
  }
  &.section-header--green{
    border: 15px solid @green;
  }
  &.section-header--orange{
    border: 15px solid @orange;
  }
  &.section-header--yellow{
    border: 15px solid @yellow;
  }
  &.one-line{
    h1{
      top: ~"calc(50% - 33px)";
    }
  }
  &.two-line{
    h1{
      top: ~"calc(50% - 40px)";
    }
  }
}

.section-description{
  display: inline-block;
  height: 150px;
  width: ~"calc(100% - 300px)";
  position: relative;
  .section-description-content{
    color: white;
    text-shadow: 2px 2px 2px #000;
    font-size: 18px;
    position: absolute;
    left: 0;
    bottom: 0;
    font-weight: bold;
  }
}

.sub-section{
  height: 80px;
  position: relative;
  background-color: @header;
  color: white;
  border-bottom: 1px solid @menu-border;
  h1{
    font-size: 22px;
    display: inline-block;
  }
  .sub-h1{
    font-size: 16px;
  }
  img{
    display: inline-block;
    height: 80px;
  }
  .sub-section-header{
    display: inline-block;
  }
  .sub-section-buttons{
    height: 80px;
    display: inline-block;
  }
}

.border{
  border: 1px solid;
  &.border-dashed{
    border: 1px dashed;
  }
  &.border-med{
    border-width: 2px;
  }
  &.border-thick{
    border-width: 4px;
  }
}

a:hover{
  color: @highlight-grey;
}

.playground-primary-menu{
  color: @default-text;
  font-size: 13px;
  font-weight: bold;
  background:white;
  height: 50px;
  border-bottom: 1px solid @menu-border;
  li{
    display: inline-block;
  }
  li a{
    color: @default-text;
    height: 100%;
    line-height: 50px;
    padding: 0 10px;
    border-right: 1px solid @menu-border;
    margin-right: -3px;
    display: inline-block;
    cursor: pointer;
    &:hover{
      background-color: @light-grey;
      text-decoration: none;
    }
    &:active{
      text-decoration: none;
    }
    &.active{
      background-color: @menu-border;
      border-bottom: 3px solid @orange;
    }
  }
}

.generic-data-detail-menu{
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0 15px;
  width: 250px;
  border-right: 1px solid @menu-border;
  background-color: @header;
  >ul{
    margin: 0;
    padding: 0;
    margin-left: -15px;
    list-style-type: none;
    >li{
      min-height: 44px;
      line-height: 44px;
      width: ~"calc(100% + 15px)";
      border-bottom: 1px solid @menu-border;
      >a{
        display: block;
        height: 44px;
        line-height: 44px;
        padding-left: 15px;
        color: white;
        &:hover{
          background-color: @light-grey;
        }
        &.active{
          background-color: @active-tab;
          border-right: 3px solid @orange;
        }
      }
    }
  }
}
.generic-data-detail-sub-menu{
  background-color: transparent;
  display: none;
  ul{
    margin: 0;
    padding: 0;
    background-color: white;
    list-style-type: none;
    li{
      border-bottom: 1px solid @fog;
      a{
        color: @default-text;
        display: block;
        height: 44px;
        line-height: 44px;
        padding-left: 30px;
        border-right: 1px solid @fog;
        &:hover{
          background-color: @light-grey;
        }
        &.active{
          background-color: @light-grey;
          border-right: 1px solid @orange;
        }
      }
    }
  }
  &.open{
    display: block;
  }
}
.generic-data-detail-content{
  padding: 15px 45px;
  margin-left: 250px;
  width: ~"calc(100% - 265px)";
  min-height: ~"calc(100% - 377px)";
}

.playground-hidden{
  display: none;
}

@-webkit-keyframes pulse {
  0% {-webkit-transform: scale(1);}
  50% {-webkit-transform: scale(1.5);}
  100% {-webkit-transform: scale(1);}
}

@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.5);}
  100% {transform: scale(1);}
}

.showcase-item-container{
  .card:hover{
    background-color: transparent!important;
  }
}

a.lui-button{
  display: inline-block;
}

.playground-button{
  height: 28px;
  display: inline-block;
  min-width: 44px;
  padding: 1px 15px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  &.playground-button--yellow{
    background-color: @yellow;
    border: 2px solid @yellow-darken-30;
  }
  &.playground-button--orange{
    background-color: @orange;
    border: 2px solid @orange-darken-30;
  }
  &.playground-button--green{
    background-color: @green;
    border: 2px solid @green-darken-30;
  }
}
playground-showcase{
     .content{
        background-color:#e5e3e5;
    }
    .title-block{
        background-image: url(/resources/showcase_bg.jpg);
        background-position: 0px -149px;
    }
}
playground-learn{
    .title-block{
        background-image: url(/resources/learn_bg.jpg);
        background-position: 0px -173px;
    }
    playground-api-content {
        .container{
            width:100%;
        }
    }
}
playground-my-playground{
    .content{
        background-color:#e5e3e5;
    }
    .title-block{
        background-image: url(/resources/play_bg.jpg);
        background-position: 0px -150px;
    }
}
@import "./home.less";
@import "./coming-soon.less";
@import "./apis.less";
@import "./my-playground.less";
@import "./list-object.less";
