<div class="my-playground-connections">
  <div class="row title-block">
    <div class="col-md-12">
      <h1>Connect to your data</h1>
    </div>
    <div class="col-md-6">
      <p>
        Want to create projects using your own data. Below are some connections which you can use.
      </p>
    </div>
  </div>
  <div class="row options-cards data-connections-container">
    <div *ngFor="let key of connKeys" class="col-md-3">
      <div class="card">
        <img src="{{conns[key].icon}}" alt="" />
        <div class="card-title">
          {{conns[key].name}}
        </div>
        <p class="card-text">
          {{conns[key].description}}
        </p>
        <a *ngIf="!conns[key].authorised" href="/api/authorise/{{key}}" class="lui-button lui-button--warning" type="button" name="button" (click)="authoriseConnection(key)">Authorise</a>
        <span class="grey" *ngIf="conns[key].authorised===true">Authorised</span>
      </div>
    </div>
  </div>
</div>
