<div class="row sub-section">
  <div class="col-md-12">
    <div class="sub-section-header">
      <h1>{{connection.name}}<span class="sub-h1" *ngIf="isMyData"> ({{connectionStatus}})</span></h1>
      <img src="{{connection.icon}}" alt="" />
    </div>  
    <div class="sub-section-buttons" *ngIf="isMyData">
      <button *ngIf="(connectionStatus=='Stopped' || connectionStatus=='Starting') && myRunningAppCount<MAX_RUNNING_APPS" class="playground-button playground-button--yellow" [ngClass]="{'lui-disabled':connectionStatus=='Starting'}" (click)="startApp(connection.id)">Start</button>
      <button *ngIf="(connectionStatus=='Running' || connectionStatus=='Stopping')" class="playground-button playground-button--yellow" [ngClass]="{'lui-disabled':connectionStatus=='Stopping'}" (click)="stopApp(connection.id)">Stop</button>
      <button *ngIf="connectionStatus=='Running'" class="playground-button playground-button--orange" [ngClass]="{'lui-disabled':connectionStatus=='Reloading'}" (click)="reloadApp(connection.id)">Reload</button>
    </div>
  </div>
</div>
<div class="row relative" [ngClass]="{'playground-hidden': connectionStatus!=='Running'}">
  <div class="generic-data-detail-menu">
    <ul>
      <li><a [routerLink]="['gettingstarted']" routerLinkActive="active">Getting Started</a></li>
      <li><a [routerLink]="['templates']" routerLinkActive="active">Templates</a></li>
      <li><a [routerLink]="['explorer']" routerLinkActive="active">Field Explorer</a></li>
      <li *ngIf="isMyData"><a style="color: #f05555;" [routerLink]="['delete']" routerLinkActive="active">Delete</a></li>
    </ul>
  </div>
  <div class="generic-data-detail-content">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="row page-detail" *ngIf="isMyData && connectionStatus!=='Running'">
  <div class="col-md-12">
    <div class='playground-notifier-inner-container grey'>
      <div *ngIf="connectionStatus=='Starting' || connectionStatus=='Stopping' || connectionStatus=='Reloading'" class='loading'>&#60;&nbsp;&#62;</div>
      <div class='message-container'>
        <div>
          <div *ngIf="connectionStatus=='Starting' || connectionStatus=='Stopping' || connectionStatus=='Reloading'" class='notifier-title'>Please wait...</div>
          <div class='notifier-message'>{{connectionStatusDetail}}</div>
          <div *ngIf="connectionStatus=='Stopped'" class="">
            Please
            <button *ngIf="connectionStatus=='Stopped' && myRunningAppCount<MAX_RUNNING_APPS" class="lui-button lui-button--warning" (click)="startApp(connection.id)">Start</button>
            the application to see more options.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
