<div class="row page-detail">
  <div class="col-md-12">
    <h2 class="default-text">Getting started</h2>
    <p>
      To help get you started here are some sample projects that you can use to see what you can do with the APIs.
      To use them simply -
    </p>
    <ol>
      <li>Clone or download the project</li>
      <li>Run 'npm install'</li>
      <li>Add the config variable provided below to the resources/script.js file
        <pre>
          <code class="hljs javascript">var config={{connectionConfig}};</code>
        </pre>
      </li>
      <li>Run 'node index'</li>
      <li>Open a browser and go to localhost:8000</li>
    </ol>
  </div>
</div>
