<div class="row page-detail">
  <div class="col-md-12">
    <h2 class="default-text">Getting started</h2>
    <p>
      To help get you started there are some template projects, in the "Templates" section, that you can use to get started with our APIs.
      You'll need to have <a href="https://nodejs.org/en/download/current/">Node installed</a>, but once you do you'll be able to have a project running on your local machine in 5 easy steps.<br/><br/>
      Simply:
    </p>
    <ol>
      <li>Clone or download a project from the "Templates" section.</li>
      <li>Navigate to the new folder and run 'npm install' from the command line.  This will install needed modules for the project.</li>
      <li>Edit the script.js file in the resources directory.  Replace the empty config variable at the top with this:
        <pre>
          <code class="hljs javascript">var config={{connectionConfig}};</code>
        </pre>
        This code contains your api keys and application names. 
      </li>
      <li>Run 'node index' in the command line.  You'll see this message: 
          <pre>listening on port 8000</pre>
          Your server is now running
      </li>
      <li>Open a browser and go to <a href="http://localhost:8000">http://localhost:8000</a>.  The app is now running on your local machine.</li>
    </ol>
    <p>
        Once you're up and running, you can now customize the project or start something new!  Use the field explorer to get a better understanding of the data and determine the names of the fields to use in your project.
        If you create something cool with a Playground data set, <a href="mailto:branch@qlik.com">contact us</a> for submission into the Qlik Playground showcase!
    </p>
  </div>
</div>
