<div class="my-playground-main">
  <div class="my-playground-connections">
    <div class="row title-block">
      <div class="col-md-12">
        <div class="section-header section-header--green one-line">
          <h1>My Data</h1>
        </div>
        <div class="section-description">
          <p class="section-description-content">
            Here is a list of your authorized connections. You can authorize as many connections as you would like but you can only have {{MAX_RUNNING_APPS}} active at the same time.
            <br>
            <strong class="orange">Connections active ({{myRunningAppCount}} of {{MAX_RUNNING_APPS}})</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="row options-cards data-connections-container">
      <div *ngFor="let key of myConnKeys" class="col-md-3">
        <div class="button-card">
          <img src="{{myConns[key].icon}}" alt="" />
          <div class="card-title">
            {{myConns[key].name}}
          </div>
          <p class="card-text">
            {{myConns[key].description}}
            <span class='app-running-status' *ngIf="myConns[key].appid">Running</span>
          </p>
          <div class="line-button-container">
            <a [routerLink]="[key]" class="playground-button playground-button--orange">Play</a>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <a [routerLink]="['/myplayground/connect']" routerLinkActive="active" class="card grey border border-thick border-dashed">
          <div class="card-icon">
            <span class="lui-icon lui-icon--plus"></span>
          </div>
          <div class="card-title center">
            Add new connection
          </div>
        </a>
        <p class="card-text">
        </p>
      </div>
    </div>
  </div>
</div>
