<div class="my-playground-main">
  <div class="my-playground-connections" *ngIf="tab=='mydata'">
    <div class="row options-cards data-connections-container">
      <div *ngFor="let key of myConnKeys" class="col-md-3">
        <div class="button-card">
          <img src="{{myConns[key].icon}}" alt="" />
          <div class="card-title">
            {{myConns[key].name}}
          </div>
          <p class="card-text">
            {{myConns[key].description}}
            <span class='app-running-status' *ngIf="myConns[key].appid">Running</span>
          </p>
          <div class="line-button-container">
            <a [routerLink]="[key]" class="playground-button playground-button--orange">Try It Out</a>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <a [routerLink]="['/myplayground/connect']" routerLinkActive="active" class="card grey border border-thick border-dashed">
          <div class="card-icon">
            <span class="lui-icon lui-icon--plus"></span>
          </div>
          <div class="card-title center">
            Add new connection
          </div>
        </a>
        <p class="card-text">
        </p>
      </div>
    </div>
  </div>
  <div class="my-playground-sample-data" *ngIf="tab=='sampledata'">
    <div class="row options-cards sample-data-container">
      <div *ngFor="let key of appKeys" (click)="showDetail(key, 'sampledata')"  class="col-md-3 ">
        <div class="button-card">
          <img src="{{apps[key].icon}}" alt="" />
          <div class="card-title">
            {{apps[key].name}}
          </div>
          <p class="card-text">
            {{apps[key].description}}
          </p>
          <div class="line-button-container">
            <a [routerLink]="[key]" class="playground-button playground-button--orange">Try It Out</a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="my-playground-connections" *ngIf="tab=='connect'">    
    <div class="row options-cards data-connections-container">
      <div *ngFor="let key of connKeys" class="col-md-3">
        <div class="button-card">
          <img src="{{conns[key].icon}}" alt="" />
          <div class="card-title">
            {{conns[key].name}}
          </div>
          <p class="card-text">
            {{conns[key].description}}
          </p>
          <span class="green" *ngIf="conns[key].authorised===true">Authorised</span>
          <div class="line-button-container">
            <a *ngIf="!conns[key].authorised" href="/server/authorise/{{key}}" class="playground-button playground-button--orange " type="button" name="button" (click)="authoriseConnection(key)">Authorise</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
