<div class="my-playground-main">
  <div class="row title-block">
    <div class="col-md-12">
      <h1>Playground My Playground</h1>
    </div>
    <div class="col-md-6">
      <p>
        This is where you create your Qlik Playground apps. Create your app and start experimenting. Just create the app and press RUN to see your first "Hello Playgrounds app"!.
        All defaults are set to work straight out of the box with our default demo settings. Change and experiment from there.
      </p>
    </div>
  </div>
  <div class="row options-cards">
    <div class="col-md-3">
      <div class="card orange-glow-bg outer-glow">
        <div class="card-icon">
          <span class="lui-icon lui-icon--code"></span>
        </div>
        <div class="card-title">
          Project Templates
        </div>
        <p class="card-text">
          To help get you started we've put together some templates which can be downloaded or cloned from GitHub.
        </p>
        <div class="card-link-container center">
          <a [routerLink]="['/MyPlayground/projecttemplates']" class="card-link">View</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card orange-glow-bg outer-glow">
        <div class="card-icon">
          <span class="lui-icon lui-icon--database"></span>
        </div>
        <div class="card-title">
          Sample Data
        </div>
        <p class="card-text">
          You need apps for data.
          The example apps are loaded with data you can play around with to get a feel for what you can do with the APIs.
        </p>
        <div class="card-link-container center">
          <a [routerLink]="['/MyPlayground/sampledata']" class="card-link">Explore</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card orange-glow-bg outer-glow">
        <div class="card-icon">
          <span class="lui-icon lui-icon--database"></span>
        </div>
        <div class="card-title">
          Your data
        </div>
        <p class="card-text">
          You need apps for data.
          The example apps are loaded with data you can play around with to get a feel for what you can do with the APIs.
        </p>
        <div class="card-link-container center">
          <a [routerLink]="['/MyPlayground/yourdata']" class="card-link">Explore</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card orange-glow-bg outer-glow">
        <div class="card-icon">
          <span class="lui-icon lui-icon--direct-discovery"></span>
        </div>
        <div class="card-title">
          Connect to data
        </div>
        <p class="card-text">
          You need apps for data.
          The example apps are loaded with data you can play around with to get a feel for what you can do with the APIs.
        </p>
        <div class="card-link-container center">
          <a [routerLink]="['/MyPlayground/connect']" class="card-link">Connect</a>
        </div>
      </div>
    </div>
  </div>
</div>
