<div class="my-playground-main">
  <div class="row title-block" *ngIf="!user">
    <h1>Not logged in</h1>
  </div>
  <div class="row" *ngIf="user">
    <ul class="my-playground-menu plainlist">
      <li [ngClass]="{active: activeTab==0}" (click)="setActiveTab(0)">My Data</li>
      <li [ngClass]="{active: activeTab==1}" (click)="setActiveTab(1)">Sample Data</li>
      <li [ngClass]="{active: activeTab==2}" (click)="setActiveTab(2)">Connect to Data</li>
    </ul>
    <div class="col-md-12" *ngIf="activeTab==0 && !isTabDetail">
      <div class="my-playground-connections">
        <div class="row title-block">
          <div class="col-md-12">
            <h1>My Data</h1>
          </div>
          <div class="col-md-6">
            <p>
              You have authorised the following connections. To get started simply click on the connection you would like to use.
            </p>
          </div>
        </div>
        <div class="row options-cards data-connections-container">
          <div *ngFor="let key of myConnKeys" class="col-md-3">
            <div (click)="showDetail(key, 'connection')" class="card">
              <img src="{{myParsedConns[key].icon}}" alt="" />
              <div class="card-title">
                {{myParsedConns[key].name}}
              </div>
              <p class="card-text">
                {{myParsedConns[key].description}}
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div (click)="setActiveTab(2)" class="card grey border border-thick border-dashed">
              <div class="card-icon">
                <span class="lui-icon lui-icon--plus"></span>
              </div>
              <div class="card-title center">
                Add new connection
              </div>
              <p class="card-text">
                Authorise another connection to use
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" *ngIf="activeTab==0 && isTabDetail">
      <div class="row title-block">
        <div class="col-md-6">
          <span class="lui-icon lui-icon--back"></span>
          <span (click)="hideDetail()"><strong>back to My Data</strong></span>
          <h1>{{selectedItem.name}}</h1>
        </div>
        <div class="col-md-6 right">
          <img src="{{selectedItem.icon}}" alt="" />
        </div>
      </div>
      <div class="row page-detail">
        <div class="col-md-6">
          <h2 class="default-text">Getting started</h2>
          <p>
            To help get you started here are some sample projects that you can use to see what you can do with the APIs.
            To use them simply
          </p>
          <ol>
            <li>Clone or download the project</li>
            <li>Run 'npm install'</li>
            <li>Add the config variable provided below to the resources/script.js file
              <pre>
                <code class="hljs javascript">var config={
                  app:"{{selectedItem.id}}",
                  apiKey:"{{user.apiKey}}"
                };</code>
              </pre>
            </li>
            <li>Run 'node index'</li>
            <li>Open a browser and go to localhost:8000</li>
          </ol>

        </div>
        <div class="col-md-6">
          <h2 class="default-text">Templates</h2>
          <ul class="plainlist sample-project-list">
            <li *ngFor="let p of selectedItem.projects; let i = index">
              <label class="orange">{{sampleProjects[p].name}}</label>
              <p>
                {{sampleProjects[p].description}}
              </p>
              <div class="sample-project-clone">
                <div class="frame  lui-bg-default">
                  <input id='{{i}}_clone_url' class="lui-input" name="name" value="{{sampleProjects[p]['clone-url']}}">
                </div>
                <button class="copy-to-clipboard lui-button" name="button" (click)="copyToClipboard(i)"><span class="lui-icon lui-icon--copy"></span></button>
              </div>
              <div class="sample-project-buttons">
                <button class="inline-block lui-button lui-button--warning" type="button" name="button"><a href="github-mac://openRepo/{{sampleProjects[p]['github-repo']}}">Open in GitHub Desktop</a></button>
                <button class="inline-block lui-button lui-button--warning" type="button" name="button"><a href="{{sampleProjects[p]['github-repo']}}/archive/master.zip">Download Zip</a></button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-12" *ngIf="activeTab==1 && !isTabDetail">
      <div class="my-playground-sample-data">
        <div class="row title-block">
          <div class="col-md-12">
            <h1>Sample Data</h1>
          </div>
          <div class="col-md-6">
            <p>
              Want to create projects using our sample data. Below are some data sets you can use.
            </p>
          </div>
        </div>
        <div class="row options-cards sample-data-container">
          <div *ngFor="let key of appKeys" class="col-md-2">
            <div class="card">
              <img src="{{apps[key].icon}}" alt="" />
              <div class="card-title">
                {{apps[key].name}}
              </div>
              <p class="card-text">
                {{apps[key].description}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" *ngIf="activeTab==2 && !isTabDetail">
      <div class="my-playground-connections">
        <div class="row title-block">
          <div class="col-md-12">
            <h1>Connect to your data</h1>
          </div>
          <div class="col-md-6">
            <p>
              Want to create projects using your own data. Below are some connections which you can use.
            </p>
          </div>
        </div>
        <div class="row options-cards data-connections-container">
          <div *ngFor="let key of connKeys" class="col-md-3">
            <div class="card">
              <img src="{{conns[key].icon}}" alt="" />
              <div class="card-title">
                {{conns[key].name}}
              </div>
              <p class="card-text">
                {{conns[key].description}}
              </p>
              <a *ngIf="!conns[key].authorised" href="/api/authorise/{{key}}" class="lui-button lui-button--warning" type="button" name="button" (click)="authoriseConnection(key)">Authorise</a>
              <span class="grey" *ngIf="conns[key].authorised===true">Authorised</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
