<div class="getting-started-examples">
  <h1>Example Apps</h1>
  <div class="row example-apps-container">
    <div *ngFor="let key of appKeys" class="col-md-3 example-apps-card-container">
      <a [routerLink]="['/gettingstarted/exampleapps/'+key]" class="card grey border border-med">
        <div class="card-icon">
          <span class="lui-icon lui-icon--sheet"></span>
        </div>
        <div class="card-title">
          {{apps[key].name}}
        </div>
      </a>
    </div>
  </div>
</div>
