<div class="getting-started-main">
  <h1>Getting Started</h1>
  <div class="row options-cards">
    <div class="col-md-4">
      <div class="card blue-bg">
        <div class="card-icon">
          <span class="lui-icon lui-icon--sheet"></span>
        </div>
        <div class="card-title">
          Example apps
        </div>
        <p class="card-text">
          You need apps for data.
          The example apps are loaded with data you can play around with to get a feel for what you can do with the APIs.
        </p>
        <a [routerLink]="['/gettingstarted/exampleapps']" class="card-link">Explore</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card blue-bg">
        <div class="card-icon">
          <span class="lui-icon lui-icon--database"></span>
        </div>
        <div class="card-title">
          Your data
        </div>
        <p class="card-text">
          You need apps for data.
          The example apps are loaded with data you can play around with to get a feel for what you can do with the APIs.
        </p>
        <a class="card-link">Your data</a>
      </div>
    </div>
    <div class="col-md-4">
      <coming-soon></coming-soon>
      <div class="card grey-bg">
        <div class="card-icon">
          <span class="lui-icon lui-icon--direct-discovery"></span>
        </div>
        <div class="card-title">
          Connect to data
        </div>
        <p class="card-text">
          You need apps for data.
          The example apps are loaded with data you can play around with to get a feel for what you can do with the APIs.
        </p>
        <a class="card-link">Connect</a>
      </div>
    </div>
  </div>
</div>
