<div class="">
  <div class="row title-block">
    <div class="col-md-12">
      <div class="section-header section-header--green two-line">
        <h1>Capability APIs</h1>
      </div>
      <div class="section-description">
        <p class="section-description-content">
          The Capabilty APIs are a collection of JavaScript APIs that allow developers to easily embed Qlik content into a webpage.
        </p>
      </div>
    </div>
  </div>
  <div class="row relative">
    <div class="generic-data-detail-menu">
      <ul>
        <li><a [routerLink]="['overview']" routerLinkActive="active">Overview</a></li>
        <li><a [routerLink]="['authenticating']" routerLinkActive="active">Authenticating</a></li>
        <li><a [routerLink]="['connecting']" routerLinkActive="active">Connecting</a></li>
        <li><a [routerLink]="['visualizations']" routerLinkActive="active">Creating Visualizations</a></li>
        <!-- <li><a [routerLink]="['filtering']" routerLinkActive="active">Filtering Data</a></li> -->
      </ul>
    </div>
    <div class="generic-data-detail-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
