<div class="">
  <div class="row title-block">
    <div class="col-md-12">
      <h1>The Qlik Capability APIs</h1>
    </div>
    <div class="col-md-6">
      <p>
        Here is some text summarising the Capability APIs
      </p>
    </div>
  </div>
  <div class="row relative">
    <div class="generic-data-detail-menu">
      <ul>
        <li><a [routerLink]="['overview']" routerLinkActive="active">Overview</a></li>
        <li><a [routerLink]="['authenticating']" routerLinkActive="active">Authenticating</a></li>
        <li><a [routerLink]="['connecting']" routerLinkActive="active">Connecting</a></li>
        <li><a [routerLink]="['visualizations']" routerLinkActive="active">Creating Visualizations</a></li>
        <!-- <li><a [routerLink]="['filtering']" routerLinkActive="active">Filtering Data</a></li> -->
      </ul>
    </div>
    <div class="generic-data-detail-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
